
<br/><legend><p class="p1">Enter Details of Recipient</p></legend><br/>
<div class="container">

  <form  class="form-horizontal"  #f='ngForm' >
    <div class="form-group">

      <label class="control-label col-sm-2" id="name">Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" placeholder="name" name='name' ngModel required pattern="^[a-zA-Z\.]*$">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" id="date">Date of Birth:</label>
      <div class="col-sm-10">
        <input type="date" class="form-control" id="date" placeholder="Date"  name='date' ngModel required>
      </div>
    </div>
    <div class="form-group col-sm-2">
        <label class="form-check-label">Gender:</label></div>
        <div class="form-check-inline ">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optradio">Male
      </label>
    </div>
    <div class="form-check-inline ">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optradio">Female
      </label>
    </div>
    <div class="form-check-inline ">
      <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optradio">Other
      </label>
    </div> 
    <div class="form-group">
      <label class="control-label col-sm-2" id="btype">Blood Type:</label>
      <div class="col-sm-10">
            <select class="form-control" id="btype" #btype type="text" ngModel name='btype' ngModel required>
              <option>A+</option>
                <option>A-</option>
                <option>B-</option>
                <option>B+</option>
                <option>AB+</option>
                <option>AB-</option>
                <option>O-</option>
                <option>O+</option>
            </select>
            <br>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-5" id="otype">Organ to be recieved</label>
      <div class="col-sm-10">
        <select class="form-control" id="otype" #otype type="text"  name='otype' ngModel required>
            <option>Lung</option>
            <option>Kidney</option>
            <option>Liver</option>
            <option>Eye(corneas)</option>
            <option>Pancreas</option>
            <option>Intestine</option>
            <option>Larynx</option>
          </select>
      </div>
    </div>



    <div class="form-group">
      <label class="control-label col-sm-2" id="idproof">Enter Identity No:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="idproof" placeholder="enter government given identity proof (aadhar preferred)"  name='idproof' ngModel required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" id="cno">Enter Contact No:</label>
      <div class="col-sm-10">
        <input type="tel" class="form-control" id="cno" placeholder="Contact Number"  name='cno' ngModel required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" id="cid">Contact Info:</label>
      <div class="col-sm-10">
        <input type="textarea" class="form-control" id="cid" placeholder="enter Contact information"  name='cid' ngModel required>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <div class="checkbox">
          <label><input type="checkbox" name="Save"> Save</label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" class="btn btn-primary"  (click)="addForm(otype.value,btype.value)">Submit</button>
      </div>
    </div>
  </form>
</div>
<p>
  <!-- {{ val.name}} <br/>
  {{ val.date}} <br/>
{{val.otype}} <br/>
{{val.btype}} <br/>
{{val.cid}} <br/>
{{val.cno}} <br/> -->

</p>
<p>{{clickMessage}}</p>
<p> {{servicedata}}</p>